<div class="row">
    <div class="col-xs-12"><h1>Carte interactive des centres de recherche &nbsp;&nbsp; <clr-icon shape="map-marker" size="36"></clr-icon></h1></div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>

<br>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
        <h3>Liste des centres de recherche</h3>
        <br>

        <clr-stack-view>
            <div style="width:100%;text-align:center;"><span class="spinner"></span></div>
            <clr-stack-block *ngFor="let lab of labs">
                <clr-stack-label>{{ lab.adressegeographique.libelle }}</clr-stack-label>
                <clr-stack-content><span [coordlng]="lab.lng" [coordlat]="lab.lat">{{ lab.siid }}</span></clr-stack-content>
                <clr-stack-block>
                    <clr-stack-label>Responsables</clr-stack-label>
                    <clr-stack-content>
                        <ul class="list">
                            <li *ngFor="let resp of lab.responsable">{{ resp.personne.nom }} {{ resp.personne.prenom }}</li>
                        </ul>
                    </clr-stack-content>
                </clr-stack-block>
                <clr-stack-block>
                    <clr-stack-label>Date d'ouverture</clr-stack-label>
                    <clr-stack-content>{{ lab.dateOuverture.month }} {{ lab.dateOuverture.year }}</clr-stack-content>
                </clr-stack-block>
                <clr-stack-block>
                    <clr-stack-label>Ville</clr-stack-label>
                    <clr-stack-content>{{ lab.adressegeographique.ville }}</clr-stack-content>
                </clr-stack-block>
                <clr-stack-block>
                    <clr-stack-label>Adresse</clr-stack-label>
                    <clr-stack-content>{{ lab.adressegeographique.adresse }}</clr-stack-content>
                </clr-stack-block>
                <clr-stack-block>
                    <clr-stack-label>Fermé ?</clr-stack-label>
                    <clr-stack-content>
                        <div *ngIf="lab.dateFermeture != null; then ferme else ouvert"></div>
                        <ng-template #ferme>Oui</ng-template>
                        <ng-template #ouvert>Non, encore en activit&eacute;</ng-template>
                    </clr-stack-content>
                </clr-stack-block>
            </clr-stack-block>
        </clr-stack-view>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 offset-md-1">
        <agm-map [latitude]="init_lat" [longitude]="init_lng">
            <agm-marker *ngFor="let lab of labs" [latitude]="lab.adressegeographique.latitude" [longitude]="lab.adressegeographique.longitude">
                <agm-snazzy-info-window [maxWidth]="300" [closeWhenOthersOpen]="true">
                    <ng-template>
                        <span><strong>Nom :</strong> {{ lab.libelle }}</span><br>
                        <!-- <span>Nombre d'équipes : {{ lab.nb_team }}</span><br> -->
                        <span><strong>Nombre de responsables :</strong> <span *ngIf="lab.responsable">{{ lab.responsable.length }}</span></span><br>
                        <span><strong>Adresse :</strong> {{ lab.adressegeographique.adresse }} </span><br>
                        <span><strong>Coordonn&eacute;es GPS :</strong><br>
                            <span>Latitude : {{lab.adressegeographique.latitude}}</span><br>
                            <span>Longitude : {{lab.adressegeographique.longitude}}</span>
                        </span>
                    </ng-template>
                </agm-snazzy-info-window>
            </agm-marker>
        </agm-map>
    </div>
</div>