<div class="row">
    <div class="col-12"><h1>Carte interactive des centres de recherche</h1></div>
</div>

<br>

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <h3>Voici la liste des centres de recherche</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-xs-12 col-sm-9">
        <agm-map [latitude]="init_lat" [longitude]="init_lng">
            <agm-marker *ngFor="let coordo of coord" [latitude]="coordo.lat" [longitude]="coordo.lng">
                <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
                    <ng-template>
                        My first Snazzy Info Window!
                    </ng-template>
                </agm-snazzy-info-window>
            </agm-marker>
        </agm-map>
    </div>
</div>