<div class="row">
    <div class="col-12"><h1>Carte interactive des centres de recherche</h1></div>
</div>

<br>

<div class="row">
    <div class="col-xs-12 col-sm-4">
        <h3>Liste des centres de recherche</h3>
        <br>

        <clr-stack-view>
            <clr-stack-block *ngFor="let lab of labs">
                <clr-stack-label>Nom :</clr-stack-label>
                <clr-stack-content>{{ lab.name }}</clr-stack-content>
                <clr-stack-block>
                    <clr-stack-label>Equipes</clr-stack-label>
                    <clr-stack-content>{{ lab.nb_team }}</clr-stack-content>
                </clr-stack-block>
                <clr-stack-block>
                    <clr-stack-label>Personnes</clr-stack-label>
                    <clr-stack-content>{{ lab.nb_perso }}</clr-stack-content>
                </clr-stack-block>
            </clr-stack-block>
        </clr-stack-view>

    </div>
    <div class="col-xs-12 col-sm-7 offset-sm-1">
        <agm-map [latitude]="init_lat" [longitude]="init_lng">
            <agm-marker *ngFor="let lab of labs" [latitude]="lab.lat" [longitude]="lab.lng">
                <agm-snazzy-info-window [maxWidth]="300" [closeWhenOthersOpen]="true">
                    <ng-template>
                        <span>Nom : {{ lab.name }}</span><br>
                        <span>Nombre d'équipes : {{ lab.nb_team }}</span><br>
                        <span>Nombre de personnes : {{ lab.nb_perso }}</span>
                    </ng-template>
                </agm-snazzy-info-window>
            </agm-marker>
        </agm-map>
    </div>
</div>