<clr-main-container>
  <clr-header>
    <div class="branding">
      <a routerLink="/home" title="XML Project">
        <clr-icon shape="lightbulb" size="36"></clr-icon>
        <span class="title">{{ title }}</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
        <a routerLink="/home" class="nav-link nav-text" title="Accueil">Accueil</a>
        <a routerLink="/team" class="nav-link nav-text" title="Equipes">Liste des équipes</a>
        <a routerLink="/labs" class="nav-link nav-text" title="Centres de recherches">Liste des centres de recherches</a>
        <a routerLink="/data" class="nav-link nav-text" title="Statistiques">Statistiques</a>
    </div>
    <!--<div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div> -->
  </clr-header>
  <div class="content-container">
      <main class="content-area">
        <router-outlet></router-outlet>
      </main>
  </div>
</clr-main-container>