<div class="row">
    <div class="col-xs-12"><h1>Donn&eacute;es statistiques &nbsp;&nbsp; <clr-icon shape="bar-chart" size="36"></clr-icon></h1></div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-8">
        <p>Retrouvez sur cette page diff&eacute;rentes donn&eacute;es et statistiques sur les rapports d&apos;activit&eacute;s. Ces donn&eacute;es sont directement extraites depuis la base de donn&eacute;es des rapports, et repr&eacute;sente donc l&apos;&eacute;tat actuel des informations pr&eacute;sent&eacute;es. Aussi, vous trouverez plus en bas une liste de rapports au format PDF sur chaque &eacute;quipe.</p>
    </div>
</div>

<div class="row flex-items-xs-around" style="text-align:center; height: 500px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
        <h2>Répartition par domaines de recherches</h2>
        <br>
        <ngx-charts-heat-map
            [scheme]="colorScheme"
            [results]="teams"
            [legend]="showLegendDomaine"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabelDomaine"
            (select)="onSelect($event)">
        </ngx-charts-heat-map>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
        <h2>Nombre d'équipes par centre</h2>
        <br>
        <ngx-charts-bar-vertical
            [scheme]="colorScheme"
            [results]="labs"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            (select)="onSelect($event)">
        </ngx-charts-bar-vertical> 
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-4">
        <h2></h2>
    </div>
</div>