<div class="row">
    <div class="col-xs-12">
        <h1>Liste des équipes par centres de recherches &nbsp;&nbsp; <clr-icon shape="share" size="36"></clr-icon></h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-8">
        <p>Vous trouverez sur cette page la liste compl&egrave;te des centres de recherches. Plusieurs filtres sont &agrave; votre disposition pour filtrer les r&eacute;sultats. La liste des membres est consultable pour chaque &eacute;quipe affich&eacute;e (si des donn&eacute;es sont disponibles). Vous pourrez consulter la liste des publications par personne en cliquant sur la loupe dans le tableau des membres d&apos;une &eacute;quipe. Aussi, vous trouverez un rapport au format PDF pour chaque &eacute;quipe.</p>
    </div>
</div>

<div class="row flex-items-xs-middle">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h3>Filtres disponibles :</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
        <clr-dropdown style="margin-top: 24px;">
            <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
                Nom de centre de recherche
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                <label class="dropdown-header">Liste des centres</label>
                <button type="button" *ngFor="let lab of labs" clrDropdownItem (click)="selectLab(lab)">{{ lab.adressegeographique.libelle }}</button>
            </clr-dropdown-menu>
            <clr-alert *ngIf="isFilter['lab_name']" (clrAlertClosedChange)="onCloseLab()">
                <div class="alert-item">
                    <span class="alert-text">
                        Centre s&eacute;lectionn&eacute; : {{ filter_lab.name }}
                    </span>
                </div>
            </clr-alert>
        </clr-dropdown>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
        <clr-dropdown style="margin-top: 24px;">
            <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
                Domaine de recherche
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                <label class="dropdown-header">Liste des domaines</label>
                <button type="button" *ngFor="let domain of search_domain" clrDropdownItem (click)="selectDomain(domain)">
                    {{ domain }}
                </button>
            </clr-dropdown-menu>
            <clr-alert *ngIf="isFilter['domain']" (clrAlertClosedChange)="onCloseDomain()">
                <div class="alert-item">
                    <span class="alert-text">
                        Domaine s&eacute;lectionn&eacute; : {{ filter_domain.name }}
                    </span>
                </div>
            </clr-alert>
        </clr-dropdown>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <clr-dropdown style="margin-top: 24px;">
            <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
                Th&egrave;me de recherche
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                <label class="dropdown-header">Liste des th&egrave;mes</label>
                <button type="button" *ngFor="let theme of search_theme" clrDropdownItem (click)="selectTheme(theme)">
                    {{ theme }}
                </button>
            </clr-dropdown-menu>
            <clr-alert *ngIf="isFilter['theme']" (clrAlertClosedChange)="onCloseTheme()">
                <div class="alert-item">
                    <span class="alert-text">
                        Domaine s&eacute;lectionn&eacute; : {{ filter_theme.name }}
                    </span>
                </div>
            </clr-alert>
        </clr-dropdown>
    </div>
</div>

<div class="row margin-height">
    <div style="width:100%;text-align:center;"><span class="spinner"></span></div>
    <div *ngIf="isFilter['lab_name'] || isFilter['domain'] || isFilter['theme']; then filtered else normal"></div>
    <ng-template #filtered>
        <ng-template ngFor let-team [ngForOf]="teams" let-i="index">
            <ng-template [ngIf]="
            (
                (
                    ((isFilter['lab_name']) && (team.adressegeographique.cri.siid == filter_lab.id)) 
                    && 
                    ((isFilter['domain']) && (team.domaineDeRecherche == filter_domain.name))
                    && 
                    ((isFilter['theme']) && (team.themeDeRecherche == filter_theme.name))
                ) ||
                (
                    (!(isFilter['lab_name'])) 
                    && 
                    ((isFilter['domain']) && (team.domaineDeRecherche == filter_domain.name))
                    && 
                    ((isFilter['theme']) && (team.themeDeRecherche == filter_theme.name))
                ) ||
                (
                    ((isFilter['lab_name']) && (team.adressegeographique.cri.siid == filter_lab.id)) 
                    && 
                    (!(isFilter['domain']))
                    && 
                    ((isFilter['theme']) && (team.themeDeRecherche == filter_theme.name))
                ) ||
                (
                    ((isFilter['lab_name']) && (team.adressegeographique.cri.siid == filter_lab.id)) 
                    && 
                    ((isFilter['domain']) && (team.domaineDeRecherche == filter_domain.name))
                    && 
                    (!(isFilter['theme']))
                )
            )
            ||
            (
                ((isFilter['lab_name']) && (team.adressegeographique.cri.siid == filter_lab.id) && !(isFilter['domain']) && !(isFilter['theme']))
                ||
                ((isFilter['domain']) && (team.domaineDeRecherche == filter_domain.name) && !(isFilter['lab_name']) && !(isFilter['theme']))
                ||
                ((isFilter['theme']) && (team.themeDeRecherche == filter_theme.name) && !(isFilter['lab_name']) && !(isFilter['domain']))
            )
            ">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">{{ team.sigle }}&nbsp;&nbsp;
                                <span class="label">
                                    CRI : {{ team.adressegeographique.cri.siid }}
                                    <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                                        <clr-icon shape="info-circle" size="24"></clr-icon>
                                        <span class="tooltip-content">{{ team.adressegeographique.libelle }}</span>
                                    </a>
                                </span>
                            </h3>
                            <p class="card-text">Responsable : {{ team.personne.nom }} {{ team.personne.prenom }}</p>
                            <p class="card-text">Adresse : {{ team.adressegeographique.adresse }}</p>
                            <p class="card-text" *ngIf="team.domaineDeRecherche !== null">Domaine : {{ team.domaineDeRecherche }}</p>
                            <p class="card-text" *ngIf="team.themeDeRecherche !== null">Th&egrave;me : {{ team.themeDeRecherche }}</p>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-link" (click)="showModal(team)">Consulter la liste de membres</button>
                            <span *ngIf="loading" class="spinner spinner-inline"></span><br>
                            <a [href]="'http://91.134.122.212:9991/rapport-pdf?id=' + team.sigle | lowercase" [title]="'Rapport de l\'équipe ' + team.sigle" target="_blank">Rapport de l&apos;&eacute;quipe {{team.sigle}}</a>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-template>
    </ng-template>

    <ng-template #normal>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12" *ngFor="let team of teams">
            <div class="card">
                <div class="card-block">
                    <h3 class="card-title">{{ team.sigle }}&nbsp;&nbsp;
                        <span class="label">
                            CRI : {{ team.adressegeographique.cri.siid }}
                            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                                <clr-icon shape="info-circle" size="24"></clr-icon>
                                <span class="tooltip-content">{{ team.adressegeographique.libelle }}</span>
                            </a>
                        </span>
                    </h3>
                    <p class="card-text">Responsable : {{ team.personne.nom }} {{ team.personne.prenom }}</p>
                    <p class="card-text">Adresse : {{ team.adressegeographique.adresse }}</p>
                    <p class="card-text" *ngIf="team.domaineDeRecherche !== null">Domaine : {{ team.domaineDeRecherche }}</p>
                    <p class="card-text" *ngIf="team.themeDeRecherche !== null">Th&egrave;me : {{ team.themeDeRecherche }}</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-link" (click)="showModal(team)">Consulter la liste de membres</button>
                    <span *ngIf="loading" class="spinner spinner-inline"></span><br>
                    <a [href]="'http://91.134.122.212:9991/rapport-pdf?id=' + team.sigle | lowercase" [title]="'Rapport de l\'équipe ' + team.sigle" target="_blank">Rapport de l&apos;&eacute;quipe {{team.sigle}}</a>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<clr-modal *ngIf="opened" [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="true" [clrModalSize]="'xl'">
    <h3 class="modal-title">Equipe : {{ selectedTeamName }}</h3>
    <div class="modal-body">
        <p>Membres de l&apos;&eacute;quipe :</p>
        <clr-datagrid>
            <clr-dg-column>ID</clr-dg-column>
            <clr-dg-column>Nom</clr-dg-column>
            <clr-dg-column>Pr&eacute;nom</clr-dg-column>
            <clr-dg-column>Fonctions</clr-dg-column>
            <clr-dg-column>Consulter les publications</clr-dg-column>

            <clr-dg-row *clrDgItems="let member of selectedTeam.persons">
                <clr-dg-cell>{{member.person.key}}</clr-dg-cell>
                <clr-dg-cell>{{member.person.firstname}}</clr-dg-cell>
                <clr-dg-cell>{{member.person.lastname}}</clr-dg-cell>
                <clr-dg-cell>{{member.person.moreinfo}}</clr-dg-cell>
                <clr-dg-cell><a routerLink="/publications/{{member.person.key}}" class="btn btn-sm btn-link" title="Consulter les publications de cette personne"><clr-icon shape="search"  size="16"></clr-icon></a></clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} de {{pagination.totalItems}} membres
                <clr-dg-pagination #pagination [clrDgPageSize]="5" [clrDgTotalItems]="selectedTeam.persons.length"></clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="opened = false">
            Fermer
        </button>
    </div>
</clr-modal>