<h1 id="welcome"><clr-icon shape="home" class="is-solid"></clr-icon> Bienvenue sur le site RaWeb Inria</h1>

<div class="row flex-items-xs-center">
    <div class="col-xs-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>

<div class="row flex-items-xs-center margin-height">
    <div class="col-xs-12 col-sm-4">
        <img src="http://lorempixel.com/1280/720/technics/">
    </div>
    <div class="col-xs-12 col-sm-4">
        <h3>Liste des &eacute;quipes de recherche</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <br>
        <a class="btn btn-primary" routerLink="/team" title="Equipes de recherche">Acc&eacute;der &agrave; la liste</a>
    </div>
</div>

<div class="row flex-items-xs-center margin-height">
    <div class="col-xs-12 col-sm-4">
        <h3>Liste des centres de recherche</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <br>
        <a class="btn btn-primary" routerLink="/labs" title="Centres de recherche">Acc&eacute;der &agrave; la liste</a>
    </div>
    <div class="col-xs-12 col-sm-4">
        <img src="http://lorempixel.com/1280/720/technics/">
    </div>
</div>

<div class="row flex-items-xs-center margin-height">
    <div class="col-xs-12 col-sm-4">
        <img src="http://lorempixel.com/1280/720/technics/">
    </div>
    <div class="col-xs-12 col-sm-4">
        <h3>Donn&eacute;es statistiques</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <br>
        <a class="btn btn-primary" routerLink="/data" title="Statistiques">Consulter les donn&eacute;es</a>
    </div>
</div>